@use "sass:math";

//to %
@function prc($pxOne, $pxTwo){
    $result: math.div($pxOne, $pxTwo ) * 100%;
    @return $result;
}

//rem
@function rem($px){
    $result: math.div($px, 16) + rem;
    @return $result;
}

//em
@function em($px) {
    $result: math.div($px, 16) + em;
    @return $result;
}


$maxWidth: 1280;

@mixin adaptiv-font($pcSize, $mobSize){
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}