.header{
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: $white-color;
    border-bottom: 1px solid $brown-color;
    &_logo{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin: 20px;
        }
    &_btn{
        width: 95.24px;
        height: 31.35px;
        background: $brown-color;
        border-radius: 15px 0px;
        }
    }
.nav{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: rem(15);
    
    ul {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        gap: rem(30);
        margin: 20px;
    }
    &_link{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: rem(16);
        line-height: rem(22);
        color: $black-text-color ;
        text-decoration: none;
        transition: .3s;
        filter:opacity(85%); 
    }
    &_btn {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: rem(16);
        line-height: rem(22);
        color: $white-color;
        width: rem(95.24);
        height: rem(31.35);
        background: $brown-color;
        border-radius: rem(15) 0;
        border: none;

    }
}
nav a:hover{
    text-decoration: none;
    color: $green-main-color;
    border: 1px solid $brown-color;
    padding: 3px;
   /*   font-size: 2em; 
    transition: all 0.5s ease-in ; */
    transform: scale(1.2);
    transform: 2s;
}
ul:hover > :not(:hover) {
    opacity: .4;
}

.hamburger{
    display: none;
}

.progress-bar {
    height: 5px;
    width: 0;
    background-color: $green-main-color;
    position: fixed;
    top: 86px;
    left: 0;
    z-index: 999;
    transition: width 0.5s ease-in-out;
}
