.header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
    &_logo{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        }
    &_btn{
        width: 95.24px;
        height: 31.35px;
        background: $brown-color;
        border-radius: 15px 0px;
        }
    }
.nav{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: rem(15);
    ul {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        gap: rem(30);
    }
    &_link{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: rem(16);
        line-height: rem(22);
        color: $black-text-color ;
        text-decoration: none;
        &:hover{
            color: $grey-text-color;
        }
    }
    &_btn {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: rem(16);
        line-height: rem(22);
        color: $white-color;
        width: rem(95.24);
        height: rem(31.35);
        background: $brown-color;
        border-radius: rem(15) 0;
        border: none;

    }
}
.hamburger{
    display: none;
}