.hero{
    margin-top: rem(125);
    padding: 0 0 rem(70) 0;
    background: url('../img/bg_dot.svg') no-repeat left bottom / 10%;
    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap;
        gap: 40px;
    }
    &__item {
        position: relative;    
    }
    &__text {
        width: 623.36px;
    }
    &__img {

        max-width: 701.28px;
        max-height: 613.23px;
        position: relative;
        border: 2px solid $brown-color;
        border-radius: 140px 0px;
        &_item {
            max-width: 701.28px;
            max-height: 613.23px;
            background: #C4C4C4;
            border-radius: 140px 0px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border: 2px solid $green-main-color;
            position: relative;
            bottom: 30px;
            right: 30px;
        }
    }
    &__title{
        font-weight: 600;
        font-size: rem(72);
        line-height: rem(78);
    }
    &__descr {
        line-height: rem(30);
    }
    &_btn{
        width: rem(146.23);
        height: rem(47.36);
        margin-top: rem(50);
    }
}